:root {
  --color-primary: #0f1e24;
  --color-primary-light: #8899a8;
  --color-text-default: #637381;
  --color-light-default: #e6e6e6;
  --color-gray-200: #f3f4f6;

  --color-stroke-default: #e0e5eb;
  --stroke-light: 0.063rem solid #e0e5eb;
  --stroke-default: 0.063rem solid #c1cbd7;

  --radius-sm: 0.25rem;
  --radius-xxl: 2.5rem;

  --font-family-base: "Lexend Deca", system-ui, sans-serif;
  --font-size-title--md: 2.5rem;

  --font-size-body-md: 1rem;
  --font-size-body-sm: 0.875rem;
  --font-size-body-lg: 1.25rem;

  --icon-size-sm: 1rem;
}

body {
  font-family: var(--font-family-base) !important;
  color: var(--color-text-default);
  margin: 0;
}

button,
input,
select,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

input {
  width: 100%;
  border: var(--stroke-default);
  border-radius: var(--radius-sm);
  margin: 0.5rem 0;
  outline: none;
  padding: 0.875rem;
  box-sizing: border-box;
  transition: 0.3s;
}

input:focus {
  border-color: #adbcf2;
  box-shadow: 0 0 4px 0 #adbcf2;
}

input:disabled {
  background-color: var(--color-text-default);
  cursor: not-allowed;
}

/* input::placeholder,
textarea::placeholder {
  color: #ccc;
  opacity: 1;
} */

/* GLOBAL */

.hidden {
  display: none !important;
}

.btn {
  border-radius: var(--radius-sm);
  font-size: var(--font-family-base) !important;
  display: inline-flex;
  align-items: center;
}

.btn-outlined {
  border: 1px solid var(--color-primary);
}

.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-light-default);
}

.btn-sm {
  font-size: var(--font-size-body-sm);
  padding: 0.5rem 1rem;
}

.btn-lg {
  font-size: var(--font-size-body-md);
  font-weight: 900;
  padding: 0.875rem 1.5rem;
}

.app-layout {
  display: flex;
}

.title--lg {
  font-size: var(--font-size-title--md);
  font-weight: 900;
  color: var(--color-primary);
}

.title--sm {
  font-size: var(--font-size-body-md);
  font-weight: 400;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

/* SECTION FORM */
.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
}

.skip-link:focus {
  top: 0;
}

.section__search-form label {
  color: var(--color-primary);
}

.section__search-form h3 {
  margin-bottom: 0.875rem;
}

.section__search-form p {
  margin-bottom: 2.25rem;
}

.section__search {
  padding: 2.5rem;
  flex-grow: 2;
  max-width: 18.75rem;
  height: 100vh;
  height: 100dvh;
  border-right: var(--stroke-light);
}

.section__search .title--sm {
  color: var(--color-text-default);
}

.section__search-btn {
  justify-content: space-around;
}

.title--sm .material-symbols-outlined {
  font-size: var(--icon-size-sm);
}

.section__search-language {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section__search-language button {
  font-size: var(--font-size-body-lg);
}

.section__search-language nav ul {
  display: flex;
  gap: 0.5rem;
}
.section__search .btn-primary {
  width: 100%;
}

/* SECTION RESULTS */

.section__search-result {
  flex-grow: 3;
  margin-right: 2.5rem;
  overflow-y: auto;
  width: 100%;
}

.section__search-result-header {
  display: flex;
  margin: 1rem 1.25rem;
  justify-content: space-between;
  align-items: center;
}

.section__search-result-filters {
  display: flex;
  gap: 0.875rem;
}

.badge {
  font-size: 1rem;
  padding: 0.25rem 1rem;
  border-radius: var(--radius-xxl);
  line-height: 1.25rem;
  font-weight: 600;
}

.badge--primary {
  background-color: var(--color-primary-light);
  color: white;
}

.badge--primary.is-active {
  background-color: var(--color-primary);
}

.event__preview-container {
  display: flex;
  background-color: #fff;
  padding: 0;
  align-items: center;
  transition: background-color 200ms ease, color 200ms ease;
}
.event__preview-container p {
  margin: 0.5rem 0;
}
.event__preview-container h3 {
  margin: 0;
}

.event__preview-container:hover {
  background-color: var(--color-gray-200);
}
.event__preview-container:hover p {
  color: var(--color-primary);
}

.event__preview-image {
  margin: 0;
}
.event__preview-image img {
  width: 20rem;
  height: 10rem;
  object-fit: cover;
  display: block;
}

.event__preview-description {
  text-align: left;
  padding: 0 2rem;
  font-size: var(--font-size-body-md);
}

.event__preview-description p {
  color: var(--color-text-default);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* number of lines */
  line-clamp: 3; /* number of lines */
  overflow: hidden;
}

.event__preview-description-title {
  color: var(--color-primary);
  font-weight: 900;
  font-size: var(--font-size-body-lg);
  position: relative;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* number of lines */
  line-clamp: 2; /* number of lines */
  overflow: hidden;
}

/* .event__preview-description-title::before {
  content: " ";
  position: absolute;
  width: 64px;
  height: 3px;
  background-color: var(--color-primary);
  right: 105%;
  top: 50%;
  z-index: 100;
} */

.events-layout {
  display: flex;
}

.shrink-content .events-list {
  max-width: 11.25rem;
}
.shrink-content p,
.shrink-content nav {
  display: none;
}
.shrink-content img {
  width: 13rem;
  height: 8rem;
}
.shrink-content .event__preview-image {
  position: relative;
}
.shrink-content .event__preview-image::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0));
  z-index: 0;
  width: 13rem;
  height: 8rem;
}

.shrink-content .event__preview-description-title {
  font-size: var(--font-size-body-sm);
  color: var(--color-light-default);
  position: absolute;
  left: 1%;
  max-width: 12rem;
}

.shrink-content .event__preview-container {
  margin-bottom: 1rem;
}

/* EVENT DETAILS */

.event-details {
  margin-bottom: 2.5rem;
}

.event-details h1 {
  color: var(--color-primary);
}

.event-details figure {
  margin: 0;
}
.event-details img {
  width: 100%;
  height: 18.75rem;
  object-fit: cover;
  display: block;
}

.event-details-link {
  display: inline-flex;
  gap: 0.875rem;
  align-items: center;
}

.event-details-link .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.event-details-link {
  text-decoration: none;
}
.event-details-link span {
  font-size: var(--font-size-body-md);
}
